---
import config from "@/config/config";
import { adventures } from "@/data/adventure";
import { formatName } from "@/utils/helpers";
---

<h1 class="hidden">{config.title}</h1>
<div
  class="relative h-screen w-full overflow-hidden"
  id="hero-carousel"
  aria-live="polite"
>
  {
    adventures.map((project, index) => (
      <div
        class={`absolute inset-0 transition-opacity duration-1000 ${index === 0 ? "opacity-100" : "opacity-0"}`}
        data-carousel-item
      >
        <img
          src={project.image}
          alt={project.title}
          class="h-full w-full object-cover"
        />
        <div class="absolute inset-0 bg-black bg-opacity-60" />

        <div class="container mx-auto px-4 sm:px-6 md:px-24 lg:px-24 2xl:px-4">
          <div class="absolute top-1/2 transform -translate-y-1/2 text-white h-[50vh] md:h-[40vh] flex flex-col justify-between">
            <div class="font-body text-xl">
              {index + 1}/{adventures.length}
            </div>

            <div class="space-y-4 md:space-y-6">
              <h2 class="font-titles tracking-titles text-5xl md:text-6xl lg:text-7xl xl:text-8xl">
                <span>{project.category}</span>
              </h2>
              <p class="text-xl md:text-lg text-white/90">
                {project.category} | {project.location}
              </p>
            </div>

            <a
              class="px-4 py-2 text-white border-2 border-primary hover:text-white transition-all duration-300 ease-in-out backdrop-blur-lg bg-white/10 rounded-full transform hover:-translate-y-1 hover:shadow-lg w-fit"
              href={`/atracciones/${project.id}/${formatName(project.title)}`}
            >
              Más Información
            </a>
          </div>
        </div>
      </div>
    ))
  }

  <!-- Contenedor para los botones en mobile -->
  <div class="absolute bottom-5 left-6 flex sm:hidden">
    <!-- Previous Slide Button -->
    <button
      id="prev-slide"
      aria-label="Anterior slide"
      class="text-white hover:text-gray-300 transition-all duration-400 flex items-center justify-center p-4 border-[1px] border-white hover:bg-white hover:bg-opacity-10 backdrop-blur-lg rounded-l-full"
      tabindex="0"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15 19L8 12L15 5"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      <span class="sr-only">Previous</span>
    </button>

    <!-- Separador vertical -->
    <div class="w-[1px] bg-white"></div>

    <!-- Next Slide Button -->
    <button
      id="next-slide"
      aria-label="Siguiente slide"
      class="text-white hover:text-gray-300 transition-all duration-400 flex items-center justify-center p-4 border-[1px] border-white hover:bg-white hover:bg-opacity-10 backdrop-blur-lg rounded-r-full"
      tabindex="0"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M9 5L16 12L9 19"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      <span class="sr-only">Next</span>
    </button>
  </div>

  <!-- Botones para versión desktop -->
  <button
    id="prev-slide-desktop"
    aria-label="Anterior slide"
    class="hidden sm:flex absolute text-white hover:text-gray-300 transition-all duration-400 items-center justify-center p-4 border-[1px] border-white hover:bg-white hover:bg-opacity-10 backdrop-blur-lg rounded-full top-1/2 -translate-y-1/2 left-5"
    tabindex="0"
  >
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M15 19L8 12L15 5"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
    <span class="sr-only">Previous</span>
  </button>

  <button
    id="next-slide-desktop"
    aria-label="Siguiente slide"
    class="hidden sm:flex absolute text-white hover:text-gray-300 transition-all duration-400 items-center justify-center p-4 border-[1px] border-white hover:bg-white hover:bg-opacity-10 backdrop-blur-lg rounded-full top-1/2 -translate-y-1/2 right-5"
    tabindex="0"
  >
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M9 5L16 12L9 19"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
    <span class="sr-only">Next</span>
  </button>
</div>

<style is:global>
  [data-carousel-item] {
    will-change: opacity;
  }
</style>

<script is:inline>
  const carousel = document.getElementById("hero-carousel");
  const slides = carousel.querySelectorAll("[data-carousel-item]");
  const prevButton = document.getElementById("prev-slide");
  const nextButton = document.getElementById("next-slide");
  const prevButtonDesktop = document.getElementById("prev-slide-desktop");
  const nextButtonDesktop = document.getElementById("next-slide-desktop");
  let currentSlide = 0;
  let slideInterval;

  function showSlide(index) {
    slides.forEach((slide, i) => {
      slide.classList.toggle("opacity-100", i === index);
      slide.classList.toggle("opacity-0", i !== index);
    });
  }

  function nextSlide() {
    currentSlide = (currentSlide + 1) % slides.length;
    showSlide(currentSlide);
  }

  function prevSlide() {
    currentSlide = (currentSlide - 1 + slides.length) % slides.length;
    showSlide(currentSlide);
  }

  function resetInterval() {
    clearInterval(slideInterval);
    slideInterval = setInterval(nextSlide, 5000);
  }

  slideInterval = setInterval(nextSlide, 5000);

  prevButton.addEventListener("click", () => {
    prevSlide();
    resetInterval();
  });

  nextButton.addEventListener("click", () => {
    nextSlide();
    resetInterval();
  });

  prevButtonDesktop.addEventListener("click", () => {
    prevSlide();
    resetInterval();
  });

  nextButtonDesktop.addEventListener("click", () => {
    nextSlide();
    resetInterval();
  });
</script>
